#!/bin/bash

# column
c(){
    COL=$1
    shift
    awk --source "{print \$$COL}" $@
}

di(){
    colordiff -u "$@" | pager
}

# get an RFC on the command line
rfc() {
    OUT=`curl -s -w "%{http_code}\\n" "http://tools.ietf.org/rfc/rfc$1.txt"`
    if [ "200" -eq `echo "$OUT" | tail -1` ]; then
        echo "$OUT" | head -n -1 | grep -v  | less
    else
        echo "Could not find RFC $1"
    fi
}

git() {
    case $1 in
        rt ) command cd $(git rev-parse --show-toplevel) ;;
        *  ) command git "$@" ;;
    esac
}

# highlight STDERR
function ce() {
    # We need to wrap each phrase of the command in quotes to preserve arguments that contain whitespace
    # Execute the command, swap STDOUT and STDERR, colour STDOUT, swap back
    ((eval $(for phrase in "$@"; do echo -n "'$phrase' "; done)) 3>&1 1>&2 2>&3 | sed -e "s/^\(.*\)$/$(echo -en \\033)[31;1m\1$(echo -en \\033)[0m/") 3>&1 1>&2 2>&3
}

g() {
    git grep "${ARGS[@]}"
}
