[user]
    name = Chris Buckley
    email = chris@cmbuckley.co.uk

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red bold
    new = blue bold

[color "grep"]
    match = red bold
    filename = magenta

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    ap = add --patch
    br = branch
    ca = commit --amend
    cb = !git rp HEAD
    ci = commit
    co = checkout
    cp = cherry-pick
    ct = !sh -c 'git checkout tkt-$1' -
    di = diff --no-prefix
    dc = diff --cached --no-prefix
    dn = push origin HEAD
    fo = fetch origin --prune
    ls = ls-files
    mr = !git status -s | grep 'orig$' | xargs -r -I {} rm -rf "{}"
    mt = mergetool
    ob = !test "`git cb`" != "HEAD"
    pl = pull origin
    rp = rev-parse --symbolic-full-name --abbrev-ref
    rv = log HEAD --not @{u} --reverse -p
    sd = !sh -c 'git stash drop stash@{${1-0}}' -
    sf = !sh -c 'git stash -q && git diff stash@{0}^! ${@:-.} | git apply && git stash && git stash pop -q stash@{1} && git checkout ${@:-.}' -
    si = submodule foreach git --no-pager diff
    sl = stash list
    sp = !sh -c 'git stash pop stash@{${1-0}}' -
    ss = !sh -c 'git stash show stash@{${1-0}} -p --no-prefix' -
    st = status
    uk = !git status -s | grep -F '??' | cut -c4-
    up = !git fo && git rebase -p $(git rp @{u})
    ur = !git status -s | grep -F '??' | cut -c4- | xargs -I {} rm -rf "{}"

[core]
    editor = vim
    pager = less -FRSX
    whitespace = fix,tab-in-indent,tabwidth=4

[diff]
    renames = copy

[diff "mwbdiff"]
    textconv = mwbdump

[apply]
    whitespace = fix

[merge]
    tool = vimdiff
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[tig]
    tab-size = 4
